# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build output
/build

# Environment variables - local secrets only
.env*.local

# Database files (SQLite) - built during deploy
prisma/dev.db-journal
dev.db
dev.db-journal

# Debug logs & caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Operating System files
.DS_Store
Thumbs.db